<div class="face-snap-card" *ngIf="faceSnap$ | async as faceSnap" [ngClass]="{snapped: buttonText === 'Oops, Light Weight !'}">
    <button routerLink="/facesnaps">{{'Back' | uppercase}}</button>
    <h2>{{ faceSnap.title | uppercase }}</h2>
    

    <p>Posted the {{ faceSnap.createdDate | date: 'dd/MM/yy  HH:mm a' }}</p>
    <p *ngIf="faceSnap.location">Photo taken in {{faceSnap.location}}</p>

    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>

    <p>
        <button (click)="onSnap(faceSnap.id)">{{buttonText}}</button>
        <span [ngStyle]="{color: 'rgb(0,' + faceSnap.snaps + ',0)'}">🥐 {{ faceSnap.snaps }}</span>
    </p>
  </div>